body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#nav-1 {
	color:white;
	background-color: #2ea2cc;
}

#nav-1 ul li a {
	color:white;
}

#logo {
	     box-sizing: border-box;
     width: auto;
     height: 100px;
  border: 1px solid #2ea2cc; 
    padding: 5px;
}

#h1_1{
	padding: 5px;
	font-size: 25px;
	color:#255c77;
} 

#h1_2{
	font-size: 15px;
	color:#5fb0c6;
	position: absolute;
  left: 75px;
  width: 150px;
  height: 25px;
}

#nav-2 {
  float: right;
  vertical-align:center;
}

#nav-2 ul li a {
	color: #444444;
}

#footer {
	background-color: #133542;
}