<!doctype html>
<html lang="en">
    <head>
        <base href="{{ contextPath }}/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="app-context-path" content="{{ contextPath }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ contextPath }}/css/styles.css" />
        <!--<title>Hello World</title>-->
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ contextPath }}/js/app.js"></script>

        <div id="alert" class="alert alert-warning" role="alert">
          <a href="https://www.tcsg.edu/covid-19-virus-information/" class="alert-link">The latest on how we are handling COVID-19 at our colleges</a>
        </div>

        <div id="nav-1">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Our Colleges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Economic Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Adult Education</a>
            </li>
          </ul>  
        </div>

        <div id=logo>
          <h1 id="h1_1">Technical College</h1>
          <h1 id="h1_2">System of Georgia</h1>
        
          <div id="nav-2">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">About TCSG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Programs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">For Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Affording Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TCSG Divisions</a>
              </li>
            </ul>  
          </div>
        </div>

        <video muted="" loop="" autoplay="" playsinline="playsinline" mobilevideo="" width="100%">
          <source src="https://www.tcsg.edu/wp-content/uploads/2021/01/full-v.1.mp4" type="video/mp4">
          Video tag is not supported in this browser.
        </video>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 init-animate slideInUp1">
                        <div class="text-left">
                            <ul class="socials init-animate">

                                <li class="facebook">

                                    <a href="https://www.facebook.com/tcsg.edu/" title="Facebook" target="_blank" aria-label="Facebook Link"><i class="fa fa-facebook fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="Facebook Link" data-was-processed="true"></i></a>

                                </li>

                                <li class="twitter">

                                    <a href="https://twitter.com/TCSG" title="Twitter" target="_blank" aria-label="Twitter Link"><i class="fa fa-twitter fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="Twitter Link" data-was-processed="true"></i></a>

                                </li>

                                <li class="linkedin">

                                    <a href="https://www.linkedin.com/company/technical-college-system-of-georgia" title="Linkedin" target="_blank" aria-label="LinkedIn Link"><i class="fa fa-linkedin fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="LinkedIn Link" data-was-processed="true"></i></a>

                                </li>

                                <li class="instagram">

                                    <a href="https://www.instagram.com/tcsg_pr/" title="Instagram" target="_blank" aria-label="Instagram Link"><i class="fa fa-instagram fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="Instagram Link" data-was-processed="true"></i></a>

                                </li>

                                <li class="youtube">

                                    <a href="http://youtube.com/tcsgtv/" title="Youtube" target="_blank" aria-label="Youtube Link"><i class="fa fa-youtube fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="Youtube Link" data-was-processed="true"></i></a>

                                </li>

                                <li class="google-plus">

                                    <a href="https://plus.google.com/+TechnicalCollegeSystemofGeorgia" title="Google Plus" target="_blank" aria-label="Google Plus Link"><i class="fa fa-google-plus fa-lg" aria-hidden="true"><img class="lazy loaded" src="/wp-content/uploads/2017/07/spacer.png" data-src="/wp-content/uploads/2017/07/spacer.png" alt="Google Plus Link" data-was-processed="true"></i></a>

                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-4 init-animate slideInUp1">
                        <p class="text-center">
                            <a href="/about-tcsg/contact-us/">Contact Us</a> \ <a href="/equal-employment-opportunity/">Equal Opportunity</a> \ <a href="/accessibility/">Accessibility</a><br><a href="/terms/">Website Terms</a> \ <a href="https://intranet.tcsg.edu/admin/wp-content/uploads/sites/2/2021/02/human-trafficking-notice.pdf" target="_blank" rel="noopener">Human Trafficking Hotline</a><br><a href="/about-tcsg/system-office-services/legal-services/">Ethics and Compliance Hotline</a><br><a href="https://intranet.tcsg.edu/admin/all-hr-forms/#Required-Postings">All Required Postings</a><br><br>
                            <!-- Sectigo Trust Seal -->
                        </p>

                    </div>
                    <div class="col-sm-4 init-animate slideInUp1">
                        <div class="footer-copyright border text-right">
                            <div class="site-info">Powered by TCSG Web Services<br>
                                <div id="google_translate_element">
                                    <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
                                        <div id=":0.targetLanguage" style="white-space: nowrap;" class="goog-te-gadget-simple"><img src="https://www.google.com/images/cleardot.gif" class="goog-te-gadget-icon" alt="" style="background-image: url(&quot;https://translate.googleapis.com/translate_static/img/te_ctrl3.gif&quot;); background-position: -65px 0px;"><span style="vertical-align: middle;"><a aria-haspopup="true" class="goog-te-menu-value" href="javascript:void(0)"><span>Select Language</span><img src="https://www.google.com/images/cleardot.gif" alt="" width="1" height="1"><span style="border-left: 1px solid rgb(187, 187, 187);">​</span><img src="https://www.google.com/images/cleardot.gif" alt="" width="1" height="1"><span style="color: rgb(118, 118, 118);" aria-hidden="true">▼</span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .site-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
